.sidebar {
  flex: 0.80;
  height: calc(100vh - 50px);
  background-color: #7E4DFD;
  position: sticky;
  top: 50px;
}
.sidebar h3{
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding: 20px;
}
.sidebarWrapper {
  padding: 30px 0 20px 0;
  color: #fff;
  height: 100%;
}

.sidebarMenu {
  height: 100%;
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 1.2rem;
  color: #fff;
}

.sidebarList {
  list-style: none;
  padding: 5px 0 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.sidebarListItem {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 1.1rem;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #6939ED;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
